body {
  background: #24324C;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
}
.wrapper {
  max-width: 95%;
  margin: 0 auto;
}
h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
}
.content a {
  color: #FFF;
  font-weight: 600;
}
.icon-linkedin:before
  display: block
  content: ' '
  background-image: url('includes/icons/linkedin.svg')
  background-size: 28px 28px
  height: 28px
  width: 28px
